[2021-01-20 14:45] demglobekkeper opened #1 "Multithreading issue"
java.io.FileNotFoundException: /storage/emulated/0/Android/data/com.example.chat/files/Documents/amplituda_tmp_values.txt (No such file or directory)

There is a problem that a library doesn't work when you start several files at once in the background thread **getSampleFrom**.
It works for a single file. But with multiple files it doesn't((
Is it possible to fix it somehow?

[code]

[2021-01-20 16:27] lincollincol commented on #1
@demglobekkeper can you share more code or library which implements multithreading in your project? I'd like to reproduce this bug on my device.

[2021-01-20 16:33] demglobekkeper commented on #1
thanks for so quick response!
I start every thread by using coroutines. When I have 2+ audio to convert some of them can be converted well and some of them finish with the warning I attached above.

lifecycleScope.launch(Dispatchers.Default) {
            val uri3 = requireContext().resources.openRawResource(audioId) //audioId on of the mp3 file in raw folder
            var waves: IntArray = intA

[2021-01-21 18:23] lincollincol commented on #1
Hello @demglobekkeper, wait for a new waveformSeekBar library version with the new Amplituda version in which this bug was fixed.

[2021-01-21 18:23] #1 closed

[2021-01-26 02:15] Kyant2021 opened #2 "How can I get the list of per second amplitudes?"

[2021-01-26 02:27] Kyant2021 commented on #2
![image](https://user-images.githubusercontent.com/76829190/105791409-001a9100-5fc1-11eb-8cb1-c755d376f0e4.png)
I also tried this, but the same result

[2021-01-26 15:24] lincollincol commented on #2
Hello @Kyant2021 , the easiest way to get amplitudes per second - format processed audio data with `amplitudesAsList()` method.

In this case, you will get all data from audio. Then you should calculate song duration in seconds:

[code]
Then call with `amplitudesAsList()` method, in which you have a list of integers as a lambda parameter. So, now you should calculate fps (frames per second):

[cod

[2021-01-26 23:21] Kyant2021 commented on #2
Thank you very much.
This is really a good library!
Additionally, do you intend to parse the tune and frequency of song? I think it is better to combine with them. Sorry I don't know the difficulty for you.

[2021-01-27 14:05] lincollincol commented on #2
@Kyant2021 do you mean parsing audio and apply FFT algorithm to get frequency?

[2021-01-27 15:07] Kyant2021 commented on #2
Yes

[2021-01-27 19:50] lincollincol commented on #2
@Kyant2021 yes, I know that FFT algorithm is better and I'll try to implement it as soon as possible. Now I'm working on another project and don't have enough time to learn this algorithm correctly. If you have some skills in this area and you know how to implement it, I'll be glad to merge your pull request :)

[2021-02-10 09:21] qsdigor opened #3 "cacheDir instead of externalStorage"
In new android versions, WRITE_EXTERNAL_STORAGE is not available and Amplituda won't work without this permission.

Issue is with temporaryAmplitudaDataFile. We could use:

**context.getCacheDir()**

instead of

**context.getExternalFilesDir(Environment.DIRECTORY_DOCUMENTS)**

This is a better solution as temp files by design should go to the internal cache folder.
This also doesn't require any RE

[2021-02-12 14:02] qsdigor opened #5 "WAV format not working propperly"
It looks like wav format always returns list of integers with all values 127.

Steps to reproduce the behavior:
1. Init Amplituda
2. start fromFile() with audio file with wav extension.
3. receive amplitudesAsList callback.
4. print or debug the received list.

**Expected behavior**
It should work as same as mp3 does with propper waveform

[2021-02-12 17:28] lincollincol commented on #5
Hello @qsdigor , I'd like to process your audio file on my machine. Can you attach the file to your new reply?

[2021-02-12 17:48] qsdigor commented on #5
Hello @lincollincol , here are my files. On my device all wav files do not work.
[MP3 working file](https://drive.google.com/file/d/13ZqDAjipqLR5Gfci0pYSBL8i5NRg3g0A/view?usp=sharing)
[WAV issued file](https://drive.google.com/file/d/1uOqRDwuhFZ5A8ifZmzebBRaE6ToGBGsW/view?usp=sharing)

[2021-02-15 15:48] qsdigor commented on #5
@lincollincol Hi, any progress on this issue? Thanks

[2021-02-15 16:38] lincollincol commented on #5
@qsdigor Hello, yes. We receive unexpected data because of the audio file codec. When I was testing audio processing (during the development), I use wav file with codec pcm_u8. If you try to get more details from the attached file, you'll see that file encoded with pcm_s16le codec. When you change codec to pcm_u8 with ffmpeg and try to process it with Amplituda again, the result will be correct. I

[2021-02-16 07:16] qsdigor commented on #5
@lincollincol Good job! Is it something you can fix or will it need new codec support?

[2021-02-18 13:46] mdivkovic-speech commented on #5
@lincollincol, I'm working with @qsdigor on this, and if you don't have time but have some idea how it could be fixed, we'll be more than happy to try and make a pull request to fix it - with your suggestions of course.

[2021-02-18 20:47] lincollincol commented on #5
@mdivkovic-speech and @qsdigor, good news, guys! I spent a lot of time solving this problem today and now this issue is partially resolved. I need a few days to finish it.

[2021-02-18 20:53] mdivkovic-speech commented on #5
@lincollincol Wow, that sounds amazing! Thank you very much, really! It will help us a lot.

[2021-02-19 07:52] qsdigor commented on #5
Great job! Thank you.

[2021-02-20 20:51] #2 closed

[2021-02-20 20:51] #3 closed

[2021-02-20 20:52] lincollincol commented on #5
@qsdigor, @mdivkovic-speech Update Amplituda to version 1.6

[2021-02-20 20:52] #5 closed

[2021-02-20 21:27] mdivkovic-speech commented on #5
Thank you very much! We will try it out first thing on Monday :) Have a great rest of the weekend

[2021-02-22 10:40] mdivkovic-speech commented on #5
@lincollincol we tried it out and the waveform looks perfect now, thank you! Do you have a tip jar or something where I could buy you a cup of coffee? After all, you do this for free and you've been very responsive and helpful during this process.

[2021-02-22 19:31] lincollincol commented on #5
@mdivkovic-speech Great! Thank you for your response! I hope we will stay in touch.

[2021-03-10 11:06] shivangbtech opened #6 "This release is not compliant with the Google Play 64-bit requirement. The following APKs or app bundles are available to 64-bit devices, but they only have 32-bit native code: [19] Include 64-bit and 32-bit native code in your app. Use the Android App Bundle publishing format to automatically ensure that each device architecture receives only the native code that it needs. This avoids increasing the overall size of your app"
Issue: This release is not compliant with the Google Play 64-bit requirement.
The following APKs or app bundles are available to 64-bit devices, but they only have 32-bit native code: [19]
Include 64-bit and 32-bit native code in your app. Use the Android App Bundle publishing format to automatically ensure that each device architecture receives only the native code that it needs. This avoids incr

[2021-04-19 22:07] alkurop commented on #6
Only because library does not support x86_64, but there aren't many devices with the architecture, so it should be fine

[2021-04-24 23:06] sky003 commented on #6
Still kind of a problem because this is the Google Play requirement. I'm going to try to build a 64-bit version, hope that won't be a problem.

@lincollincol not sure if you have time for this, but are there any possible issues? And thank you for the great library!

[2021-04-25 07:59] lincollincol commented on #6
@sky003 today I'm going to push fix for that issue. If you test it, I'll be very grateful!

[2021-04-25 11:55] sky003 commented on #6
@lincollincol that's would be great! I can help with the testing

[2021-04-25 15:49] lincollincol opened #7 "Convert WAV(pcm_s16le) to mp3 (mp3float)"
Convert WAV(pcm_s16le) to mp3 (mp3float) using FFmpeg. The current implementation is using mp3lame for this function.

`int process_audio(...)` - function with lame code.

[2021-04-25 16:08] lincollincol commented on #6
@sky003 Try this one `implementation 'com.github.lincollincol:Amplituda:c62edccfa8'`. Please let me know if this version fixes your problem.

[2021-04-25 23:55] sky003 commented on #6
Tested it on x86 and x64 emulators. It works as expected, loads the correct libraries for each architecture. So it should work, thanks!
Though to be hundred percent sure, it also should be checked in the google play console, but I didn't have a chance to do this

[2021-05-04 20:57] lincollincol opened #8 "Async audio processing"
Amplituda should process audio asynchronous.

Current sequentially implementation: 10 audios => +-15 sec
Desired implementation: 10 audios => +-5 sec

[2021-05-15 18:53] lincollincol opened #9 "Empty output when audio contains few streams"
When an audio file contains few streams, Amplituda produces empty result.
Example:
Stream 0: audio data
Stream 1: preview image
 . . .
Stream n: . . .

[2021-05-15 19:19] #6 closed

[2021-05-15 19:19] #9 closed

[2021-05-19 18:56] lincollincol opened #10 "Process file from res/raw"
Amplituda should process audio files from raw directory

[2021-05-25 13:51] tamimattafi opened #11 "Throw exceptions instead of writing logs or add error callback"
First of all, thank you for this beautiful library!

I tried to use this library to get wave forms from an MP4 audio file, that was recorded using android AudMediaRecorder.
However, the callback was never called, I thought it was calculating some stuff, but I understood the problem when I started reading the source code.

I wasted sometime to figure that out because i thought if there is something

[2021-05-25 16:11] lincollincol commented on #11
@tamimattafi Hi! Thanks for the feedback. I will try to add it soon.

[2021-06-06 18:46] lincollincol opened #12 "Out Of Memory Error"
Crash after processing +-200 000 audio frames. Out Of Memory from ndk side: allocations more than frees.

Reproduce:
* Process 1-hour audio file more than 2 times
* Process 4 min audio file more than 25 times

Log:
[code]

[2021-06-25 06:50] harshitjain0803 opened #13 "Error - FORTIFY: fprintf: null FILE*"
Hi,

I am using this library to display waveform from an mp3 file.

`Amplituda amplituda = new Amplituda(getContext());
        amplituda.fromPath(audioFile.getPath())
                .amplitudesAsList(list -> {
                    waveFormSeekbar.setSample(ArrayUtils.toPrimitiveArray(list));
});`

But its crashing. And in logs only this line is getting printed.
A/libc: FORTIFY: fprintf: null FILE

[2021-06-26 12:23] lincollincol commented on #13
@harshitjain0803 Hi! What about read and write permissions?

[2021-06-28 05:05] harshitjain0803 commented on #13
@lincollincol - Yes, read and write permissions have been provided.

[2021-06-28 06:24] lincollincol commented on #13
@harshitjain0803 Fine, send me your audio file to xlincollincolx@gmail.com (or you can attach it here) and I'll try to reproduce this bug

[2021-06-29 04:18] harshitjain0803 commented on #13
Hi @lincollincol, I have mailed you the file.

[2021-06-30 09:58] lincollincol commented on #13
Hi @harshitjain0803, try this build: `implementation 'com.github.lincollincol:amplituda:db1d47aa3b'`

Use this build only for testing. Let me know if it works, I will release a new version of Amplituda library

[2021-07-01 07:41] harshitjain0803 commented on #13
Hi @lincollincol,

It is still crashing.

[2021-07-01 21:43] lincollincol commented on #13
@harshitjain0803
- What is your android version?
- Do you use multithreading in your code (if yes - which tool do you use)?
- How many times do you call `amplituda.fromPath(path)` before the crash?
- Which "WaveformSeekBar" library version do you use in your project?

[2021-07-02 03:40] harshitjain0803 commented on #13
Hi @lincollincol,

- What is your android version? - Android version 9+.
- Do you use multithreading in your code (if yes - which tool do you use)? - No
- How many times do you call amplituda.fromPath(path) before the crash? - I have multiple audio files, so this code is called multiple times. But crash happens when the I call this code on same file second time, after restarting the app. (There is

[2021-07-02 17:16] lincollincol commented on #13
@harshitjain0803 try this build only for testing
`implementation 'com.github.lincollincol:amplituda:e6ff2695d9'`

[2021-07-06 05:40] harshitjain0803 commented on #13
Hi @lincollincol,

Its working fine on the above build.

[2021-07-06 08:13] lincollincol commented on #13
Hi @harshitjain0803, I'll release new stable Amplituda version this week.

[2021-07-06 08:19] harshitjain0803 commented on #13
Hi @lincollincol,

Can I use this till then? 'implementation 'com.github.lincollincol:amplituda:e6ff2695d9'

[2021-07-06 08:46] lincollincol commented on #13
@harshitjain0803 I haven't tested this version very well, but yes, you can use it until a new stable version is out.

[2021-07-06 12:50] #7 closed

[2021-07-06 12:50] #10 closed

[2021-07-06 12:50] #11 closed

[2021-07-06 12:50] #12 closed

[2021-07-06 12:50] #13 closed

[2021-07-07 06:18] ThomasArtProcessors opened #15 "Set sampling rate"
Hi there.
Would it be possible to have the sampling rate as a parameter we can set?
We might not need that many values. We can then do a sampling of the result but that's extra work twice: Extra sampling calculation of the audio, then the averaging of slices of the results.
Thanks.

[2021-07-07 07:15] lincollincol commented on #15
Hi @ThomasArtProcessors, yes, you're right! I'll start working on it and keep you posted.
If you have any more suggestions for this feature, you can also leave them here.

[2021-07-07 07:20] ThomasArtProcessors commented on #15
Thanks for the quick reply.
I'm doing my own drawing of the values. And I feel like it would be good to have an option to normalise the values as if you have one very loud sample it will shrink the whole waveform.

[2021-07-07 07:26] lincollincol opened #16 "Refactor Amplituda functions calls chain"
Amplituda calls should be more logical. For example amplitudesAs*() should be called after fromFile() and optional config calls.
The solution to this problem can be a "Builder" pattern or return type as a polymorphism with different interfaces

[2021-07-07 12:35] lincollincol commented on #13
Hi @harshitjain0803, now you can use `implementation 'com.github.lincollincol:Amplituda:2.0.1'`. Thank you for this bug report, good luck!

[2021-07-07 12:42] lincollincol commented on #11
Hi @tamimattafi, you can use setErrorListener() for error handling.
`implementation 'com.github.lincollincol:Amplituda:2.0.1'`
I'll update documentation soon, but you can also open Amplituda code and check 'exceptions' package.

Sample code:
[code]

[2021-07-08 14:06] harshitjain0803 commented on #13
Thank you @lincollincol for the support. This has helped me a lot.

[2021-07-08 15:01] tamimattafi commented on #11
Awesome! Thank you)

[2021-07-10 15:32] #15 closed

[2021-07-10 15:41] lincollincol commented on #15
Hi @ThomasArtProcessors, now you can use `compressAmplitudes(<samples_per_second>)`. This method will merge Amplituda data according to param.

New version: `implementation 'com.github.lincollincol:Amplituda:2.0.2'`

For example:
Input audio file duration: 200 seconds
Raw Amplituda result: 8000 amplitudes
So, 8000 [amplitudes] / 200 [seconds] = 40 [amplitudes per second].
---- call  compressAmplit

[2021-07-24 17:07] lincollincol opened #18 "Process audio from url"

[2021-07-25 17:33] #18 closed

[2021-08-01 16:29] lincollincol commented on #8
According to the new processing functionality, this does not make sense.

[2021-08-01 16:29] #8 closed

[2021-08-15 10:41] #16 closed

[2021-08-27 06:00] akashmi opened #21 "Taking long time to process with large files, expecting progressive count down to show time to complete process."
I have used this library in my application. and it's working fine.

But there is no way to get progressive/countdown time to when the process will be completed.
It is taking longer to get amplitudes for the large audio files. and in that case, I want to show the percentage of the completed process for a better user experience.

It will be a rock if you can provide this feature in the same library.

[2021-08-28 15:44] UnateD commented on #21
@lincollincol I ran into a similar error. The problem is not with the audio, but with how the processing is done. If Amplitude is accessed in a loop, in several threads, a similar situation arises.

[2021-08-29 20:58] lincollincol opened #22 "Multithreading error: amplituda 2.1.0"
@lincollincol I ran into a similar error. The problem is not with the audio, but with how the processing is done. If Amplitude is accessed in a loop, in several threads, a similar situation arises.

Now I process the received audio sequentially and everything works without the errors described above, however, due to the sequential execution, I ran into a processing time problem - even with compres

[2021-08-29 21:05] lincollincol opened #23 "Compression optimization"
* Move compression from java side to ndk.
* Add types: skip, peek, average (or merge)

[2021-08-31 13:23] #22 closed

[2021-08-31 13:23] #23 closed

[2021-08-31 13:40] lincollincol commented on #21
@akashmi Hi, now you can use progress listener:
* Update Amplituda version to 2.1.1
`implementation 'com.github.lincollincol:amplituda:v2.1.1'`

* Pass `AmplitudaProgressListener`

[code]

[2021-08-31 13:43] #21 closed

[2021-09-07 18:15] lietto opened #25 "Using Amplituda with mobile-ffmpeg-audio in one app"
Hello! I tried to use your lib. And I already have com.arthenica:mobile-ffmpeg-audio:4.4

When I use methods from  mobile-ffmpeg-audio I receive this error.  Is there any solution to fix this?

[code]
Thanks in advance

[2021-09-07 18:52] lincollincol commented on #25
@lietto Hi, please add `packagingOptions` to your `gradle(:app)` and let me know if that solves the problem
[code]

[2021-09-10 19:34] #25 closed

[2021-09-16 22:42] lietto commented on #25
Sorry but this is not solved my problem.

[2021-09-17 18:20] lincollincol commented on #25
@lietto Hi! Can you provide more information about the error (logcat)?

[2021-09-24 02:04] thelou1s opened #27 "Samsung Glaxy Tablet Crash: divide by zero excetpion in native-lib.cpp"
**Describe the bug**
On Samsung Glaxy Tablet, it just crashed as didide by zero. but on huawei p40 phone is ok.

**Expected behavior**
No Crash

**Smartphone (please complete the following information):**
 - Device: Samsung Galaxy Tablet
 - OS: 10.0
 - Version Amplituda-2.1.1

**Additional context**

log shows preferred_frames_per_second is zero(line 397), so I add extra condition in if case(line

[2021-09-24 02:12] g707175425 opened #28 "Does Amplituda project's ffmpeg can compile for ios?"
Hi, excuse me, does Amplituda project's ffmpeg can compile for ios? Thank you so much for your help.🤝

[2021-09-24 07:54] lincollincol commented on #28
@g707175425 Hello. I haven't worked with IOS, but I think it's possible.
Here is a project on <a href="https://github.com/kewlbear/FFmpeg-iOS-build-script">github</a> with a script to compile FFMPEG for IOS. After you compile the .so libraries, you can try the Amplituda C code from this project.

If you want to extend Amplituda for IOS platform - let me know if I can help in something else.

[2021-09-24 17:05] g707175425 commented on #28
Ok,i'm very appreciate it for your help.

[2021-09-24 17:06] g707175425 commented on #28
Ok,i'm very appreciate it for your help.

[2021-10-01 21:09] gaynor opened #29 "Codec not found error"
I am recording audio files through android using the MediaRecorder. When I try to process the audio file i get the following error:

"linc.com.amplituda.exceptions.processing.CodecNotFoundException: Failed to find codec!"

[2021-10-02 10:47] lincollincol commented on #29
@gaynor Hi! This is cause Amplituda doesn't support `AMR_NB` codec.
Try to replace it on `AAC`, `OPUS`, `VORBIS` [. . .] and record the audio file with format according to one of the codecs.

I tested it with this <a href="https://developer.android.com/guide/topics/media/mediarecorder">code</a> by replacing
`setAudioEncoder(MediaRecorder.AudioEncoder.AMR_NB)` to `setAudioEncoder(MediaRecorder.Audi

[2021-10-02 13:27] gaynor commented on #29
Awesome. That solved it. This library is a life saver :)

[2021-10-02 13:37] #29 closed

[2021-10-02 13:37] #28 closed

[2021-10-09 03:03] thelou1s commented on #27
Any news?

[2021-10-26 05:01] abkoradiya opened #30 "How to process with content uri"
If I pick audio and have content uri instead of file uri then how to process that?

[2021-11-06 12:16] lincollincol opened #31 "AMR format support"
https://github.com/massoudss/waveformSeekBar/issues/35

[2021-11-06 18:36] lincollincol commented on #30
@abkoradiya Hi! Here are kotlin extensions to convert uri to audio file

[code]

You can use it with Amplituda

[code]

**And you here is full sample code with ActivityResultApi**

[code]

[2021-11-06 18:36] #30 closed

[2021-11-07 17:13] #27 closed

[2021-11-07 17:13] #31 closed

[2021-12-02 07:24] Krunal-K-SimformSolutions opened #35 "How can we used with 'ffmpeg-kit'?"
**Describe the bug**
When we used ffmpeg-kit with 'amplituda' then it give to error for the duplicate file path when merging native libs. Also, i am trying to 'packagingOptions' option but have not succeeded.

**Screenshots**
Execution failed for task ':app:mergeDebugNativeLibs'.

      - /Users/krunal.kevadiya/.gradle/caches/transforms-3/73e9ddb87dcbcf7f33e4d77e2fff8606/transformed/jetified-Ampli

[2021-12-02 11:55] lincollincol commented on #35
Hi! Please add this code to your `build.gradle(:app)` and try again

[code]

[2021-12-02 12:15] Krunal-K-SimformSolutions commented on #35
@lincollincol: I am already trying it and it's successfully run but when I have used the feature then the app crash.

[2022-01-18 16:30] devvuphan opened #36 "Android crash with amplitudesFromAudioJNI"
I'm trying to apply waveformSeekBar + Amplituda to my project. Your description is very cool. But i can't run it with mp3 raw folder.

Added:

    implementation  'com.github.massoudss:waveformSeekBar:4.1.0'
    implementation 'com.github.lincollincol:amplituda:2.1.0' // or newer version

    maven { url 'https://jitpack.io' }

    <uses-permission android:name="android.permission.READ_EXTERNAL_ST

[2022-01-18 16:44] lincollincol commented on #36
Hi @devvuphan. Please, provide this raw mp3 file. I'd like to test it

[2022-01-18 16:53] devvuphan commented on #36
thanks for you feedback.
It's a file i copied from internet. Are there any requires for the audio file to use with your lib?
https://tainhac123.com/tai-bai-hat-de-vuong-dinh-dung-ft-acv-mp3/w8lmuII1Yn2G.html

[2022-01-18 17:09] lincollincol commented on #36
Hmm, library processed file without errors.

[code]

Please, try to process this file directly with Amplituda. You can use java code below:
[code]

[2022-01-19 08:02] devvuphan commented on #36
Thanks lincollincol. I will try with your code

[2022-02-03 08:10] henockbongi commented on #36
Hello,
i get this message error when i build my app in release mode.

No pending exception expected: java.lang.NoSuchFieldError: no "Ljava/lang/String;" field "amplitudes" in class "Llinc/com/amplituda/AmplitudaResultJNI;" or its superclasses.
But app correctly works on Dev build. What should i do?

Thanks!

[2022-02-03 09:48] lincollincol commented on #36
Hello! Please, update Amplituda to `2.1.3` and try again
`implementation 'com.github.lincollincol:Amplituda:2.1.3'`
@henockbongi @devvuphan

[2022-02-03 14:06] henockbongi commented on #36
Hello,

I tried but still not works i don't know why

[2022-02-04 10:46] henockbongi commented on #36
I also tried this code but Android Studio told me that it cannot resolve classes and asked me to create Amplituda Class

[2022-02-04 10:51] henockbongi commented on #36
How can i try directly try to process file directly with Amplituda?
First, i will try to process from an url to see what will happened, then i'll tell you what i got.

[2022-02-18 20:15] MahdiDavoodi opened #38 "The result of the process is empty on Android 10"
Hey there. I have a problem and I think it's related to my code. But I'm not sure and I need to ask:

## Description

The following code is setting an on long click listener for an `ImageButton`. The `newWaveForm` is the result of the processed array from amplituda.

[code]

### Logs
[code]
**The problem is**: in devices that are running Android 10, the result is always empty.

I've tested this wi

[2022-02-19 00:00] MahdiDavoodi commented on #38
Hello @lincollincol. Thank you for your time.

As I said before, I think there is a problem with how I use Amplituda, not with Amplituda itself. (So consider this as a question rather than a real issue)

The problem I mentioned, is not about a single file. Every mp3 file that I tested, had the same issue on Android 10.

- Expected behavior on [Android 9](https://github.com/MahdiDavoodi/MahdiDavood

[2022-02-19 16:21] lincollincol opened #40 "Process audio from Uri feature"

[2022-02-19 22:58] #36 closed

[2022-02-19 22:58] #38 closed

[2022-02-20 09:10] lincollincol commented on #36
Consumer rules updated in `2.1.4` version. So, this should solve the error

@devvuphan @henockbongi

[2022-02-20 09:24] lincollincol commented on #38
@MahdiDavoodi Thank you for your feedback and provided resources. So, android 10 has changed the file access permissions

**Case 1:**
If you want to access audio with java File or by it path, you should
* grant permissions (`READ_EXTERNAL_STORAGE`)
* add `android:requestLegacyExternalStorage="true"` to `<application>`

Now, Amplituda will process your file without errors.

**Case 2:**
If you don't

[2022-02-20 13:00] MahdiDavoodi commented on #38
@lincollincol

_Thank you_. _**Thank you**_. _**THANK YOU**_. 💫

Both cases worked just fine. I went with the second case.

[2022-02-22 11:54] lincollincol commented on #40
@niklasdahlheimer Currently, It's not possible to process uri with Amplituda directly, but I'm working on it. This [code](https://github.com/lincollincol/Amplituda/issues/30) will help you to convert uri to an internal file that can be processed with Amplituda. This approach also solves problems such as obtaining a path or access to a file

So, the reason Amplituda doesn't work with uri, is that I

[2022-02-23 08:48] niklasdahlheimer commented on #30
There is a mistake in `getUriExtension()`: It should be `getMimeTypeFromExtension()` and not `getMimeTypeFromExtension()` because we want to map MimeType to extension and not the other way around.

If anyone needs the (obviously not so compact) Java version for this, here you go:

[code]

[2022-02-23 09:03] niklasdahlheimer commented on #40
Thanks for you response! The mentioned workaround does it's job but a big disadvantage is, that the cacheDir will unnecessarily grow and grow and, like I already mentioned, the performance will suffer from cloning all audio files (especially for big wave files).

I don't like passing the context around either, but in this case I think it's reasonable as all other API functions which process URIs a

[2022-03-07 23:12] renetik opened #41 "You should rename native-lib to some meaningfull name as other proejcts somehow like to use this too what makes build issues..."
I believe this is bug to use common name like this as if other library use it as well you have to fork one and edti manualy to be able to use both in same project. It happened to me so just a suggestion/bug to improve project ;)

[2022-04-27 07:52] kid9591 commented on #35
I also got crash when using with ffmpeg-kit. Please help.

[2022-05-19 05:07] SudoDios opened #42 "Please get a release for those using the ffmpeg-kit library"

[2022-05-19 10:38] #42 closed

[2022-06-08 10:54] nmduong99 opened #43 "Crash by division by zero in native-lib.cpp"
**Describe the bug**
A clear and concise description of what the bug is.
Crash by diving to zero
native-lib.cpp at line 340:
```nb_frames = (audio_dec_ctx->sample_rate * (int) duration) / audio_dec_ctx->frame_size;```

**To Reproduce**
Steps to reproduce the behavior:
open some .flac, .ogg, .wav file on some devices

**Desktop (please complete the following information):**
OS: Windows 10
Processor

[2022-06-22 02:49] jasperWang commented on #35
Have you solved this problem? I have the same problem

[2022-06-22 04:46] Krunal-K-SimformSolutions commented on #35
hi @jasperWang, can you please try the below solution if works for your case in my case I am resolved using the below code.

dependencies {
    implementation 'com.arthenica:mobile-ffmpeg-full:4.4.LTS'
    implementation  'com.github.massoudss:waveformSeekBar:4.1.0'
    implementation 'com.github.lincollincol:Amplituda:2.1.2'
}

packagingOptions {
       pickFirst "lib/x86/libc++_shared.so"

[2022-06-22 04:58] jasperWang commented on #35
@Krunal-K-SimformSolutions Thank you ，very good advice

[2022-07-22 13:33] szkodnik25 commented on #35
@lincollincol
Bumping this up - even though it compiles after adding

[code]

It crashes when I attempt to execute a command with `FFMpegKit`:

[code]

I assume it happens because you have all FFmpeg `.so` files embedded into the project, and when somebody wants to use your library with `FFmpegKit` (which also contains the same `.so` files) it fails with files collision.
Probably `pickFirst` picks

[2022-07-22 18:44] szkodnik25 commented on #41
@renetik
Hello! Could you elaborate more on how you've managed to do that? Did you just rename conflicting `.so` files?

[2022-07-23 20:06] renetik commented on #41
So the poroblem is in CMakeLists.txt
`add_library(native-lib ....

They basically defined name `native-lib` and looks like this can cause problem s when mixing multiple native libraries in android.
What I did was that I renamed my own native code to more meaningful name so it don colide with this...

So now I have `add_library(renetik-instruments-library-audio SHARED ${native_lib_sources} ${cpp_sr

[2022-07-25 02:45] BayuWijayaPermanaPutra commented on #35
I'm used last version of ffmpeg-kit (4.5) and amplituda 2.1.4

Already packagingOptions to pickFirst lib.

packagingOptions {
    pickFirst 'lib/*/libavcodec.so'
    pickFirst 'lib/*/libavformat.so'
    pickFirst 'lib/*/libavutil.so'
    pickFirst 'lib/*/libswresample.so'
}

but I have another UnsatisfiedLinkError crash at runtime too.

[2022-08-01 02:56] voliothonh opened #44 "Multithread decoding"
**Describe the bug**
- Use multithread to decode multiple file will get Exception

**Smartphone (please complete the following information):**
- All devices

W/System.err: Read Amplituda doc here: https://github.com/lincollincol/Amplituda
W/System.err:     at linc.com.amplituda.AmplitudaResultJNI.getExceptionFromCode(AmplitudaResultJNI.java:94)
W/System.err:     at linc.com.amplituda.AmplitudaResu

[2022-08-01 14:19] xiaoyvyv commented on #35
the same as

[2022-08-02 10:18] #35 closed

[2022-08-02 10:18] #41 closed

[2022-08-02 10:26] lincollincol commented on #42
@SudoDios `implementation 'com.github.lincollincol:Amplituda:v2.1.5'`

[2022-08-02 10:27] lincollincol commented on #41
@renetik `implementation 'com.github.lincollincol:Amplituda:v2.1.5'`

[2022-08-02 10:28] lincollincol commented on #35
@jasperWang @kid9591 @BayuWijayaPermanaPutra @xiaoyvyv

`implementation 'com.github.lincollincol:Amplituda:v2.1.5'`

[2022-08-02 19:05] lincollincol commented on #44
Hello @nmduong99, could you also provide a code sample with Amplituda calls from your project?

[2022-08-03 01:55] voliothonh commented on #44
@lincollincol
![image](https://user-images.githubusercontent.com/102571727/182507217-938f436b-235f-4e21-8fad-87d9e0d101c8.png)
This code I am using in the actual prj

[code]

[2022-08-05 19:19] #43 closed

[2022-08-05 19:19] #44 closed

[2022-08-05 19:29] lincollincol commented on #44
@voliothonh `implementation 'com.github.lincollincol:Amplituda:v2.1.6'`

[2022-08-12 09:44] voliothonh commented on #44
@lincollincol It doesn't work :( Pls check again

[2022-08-12 10:20] lincollincol commented on #44
@voliothonh Hi! I can't reproduce the application crash. Amplituda also processes audio files sequentially. Parallel processing is not available at the moment

Tested with this code:

[code]

[2022-08-12 17:49] mohsin-ali-brainx opened #47 "Support for other formats as well like 3gp,mp4 etc"
I have a feature where I have to record an audio using Mic which is implemented by using MediaRecorder and it only output file format for .3gp as there is no encoder for .mp3 file to we have to specify the output format in .3gp.
so when passed this file path it does not create the amplitude for it. I'm using this library with waveformseekbar library in Android.

[2022-08-12 20:34] lincollincol commented on #47
Hello @mohsin-ali-brainx. Amplituda supports these audio formats. So, maybe something with a recorded audio file? Could you please provide one of these files?

[2022-08-19 15:40] lincollincol opened #48 "Cache implementation"

[2022-08-20 15:56] #48 closed

[2022-08-29 12:28] travismacdonald opened #50 "Crash on version 2.2.0 reading raw resource"
**Describe the bug**

There is a runtime crash when calling `processAudio` with a raw resource, observed in version 2.2.0:
[code]

I have a minimal branch for reproducing the issue: https://github.com/travismacdonald/transcribe/pull/1

**To Reproduce**
Steps to reproduce the behavior:
- Either
    - check out this branch https://github.com/travismacdonald/transcribe/tree/experimental/amplituda-cra

[2022-08-30 21:08] lincollincol commented on #50
Hello @travismacdonald, thank you for your feedback!
Fixed in `implementation "com.github.lincollincol:amplituda:2.2.1"`

[2022-08-30 21:08] #50 closed

[2022-10-05 06:52] ThomasArtProcessors commented on #15
Hi again @lincollincol !
I was wondering if it was possible to  get samples averaged over longer periods of time?
In my current designs I need the waveform to match the screen size, no matter what length the audio is.
That means the same amount of points / samples no matter the audio length.
So longer audio files would for example get a sample averaged over, say, 5 seconds or more.
Image a 10 minu

[2022-10-05 11:16] lincollincol commented on #15
@ThomasArtProcessors Hello! Amplituda provides only extracted audio data and compress(custom number of samples)/cache features.

Here are some instructions, which help you draw a flexible waveform:

1. **You need to find the following values to draw the waveform:**
* Canvas size - the area in which the wave will be drawn (`width` and `height` in `px`).
You can find an android view example [here](h

[2022-10-05 11:21] lincollincol commented on #15
@ThomasArtProcessors If you have any questions, I'll be glad to answer :)

[2022-10-05 11:25] lincollincol opened #51 "How to draw waveform using Amplituda data?"
Amplituda provides only extracted audio data and compress(custom number of samples)/cache features.

Here are some instructions, which help you draw a flexible waveform:

1. **You need to find the following values to draw the waveform:**
* Canvas size - the area in which the wave will be drawn (`width` and `height` in `px`).
You can find an android view example [here](https://stackoverflow.com/a/6

[2022-10-05 14:13] gaynor opened #52 "linc.com.amplituda.exceptions.processing.CodecNotFoundException: Failed to find codec!"
I am now getting the following error in the latest 2.2.1. I have FFMPEGKit in the project as well that I was using to stitch audio files together as 3gp. The last version before the fix to prevent the library conflicts (2.1.4) can read the created audio files fine, but the latest version can't, as I am getting the error in the title. I was wondering if it is because there is a different version of

[2022-10-05 21:55] ThomasArtProcessors commented on #15
Hi! Sorry I think I explained it wrongly.
I'm already drawing the waveform and that part works fine.
The issue is that I can't average values less than one per second in the line:
`Compress.withParams(Compress.AVERAGE, 1)`

I was thinking of using the combination of
[code]

    but I was wondering if the library could provide something like:
    `Compress.withParams(Compress.AVERAGE, 1_sample_ever

[2022-10-05 23:22] ThomasArtProcessors commented on #15
Though the issue comes in when you have something like this:
- I get 100 samples from the amplituda call
- I can have only 80 max, to fit my width
Chunked doesn't work here because chunked takes an Int so 100 / 80, which is 1.25, will turn out as 1. So I get a 1 to 1 mapping and end up with 100 samples instead of 80.

[2022-10-07 10:06] lincollincol commented on #15
@ThomasArtProcessors I created a custom `chunkedToSize()` recursive function, which filters remainder by index.

Test cases:

**Case 1:** Remainder > 0
[code]
**Case 2:** Remainder > 0 **AND** samples.size / remainder = float value
[code]

So, If we can't average these `N` items, we should remove them by index.

[code]
[code]

[2022-10-07 10:06] #51 closed

[2022-10-07 18:16] #52 closed

[2022-10-07 18:16] #47 closed

[2022-10-07 18:29] lincollincol commented on #52
@gaynor Hello. Please, update lib version to 2.2.2
`implementation 'com.github.lincollincol:amplituda:2.2.2'`

[2022-10-07 18:30] lincollincol commented on #47
@mohsin-ali-brainx Hello. Please, update lib version to 2.2.2
`implementation 'com.github.lincollincol:amplituda:2.2.2'`

[2022-10-09 20:14] SudoDios opened #54 "Waveform"
why result is very low decibel level in all sounds ?
(I can't make anything with this data)
how to get waveform normalize?

this ffmpeg command takes the correct waveform from the audio :
**-filter_complex showwavespic -frames:v**
but **amplituda** not get currect.

What should I do?

[2022-10-10 04:06] ThomasArtProcessors commented on #15
Thanks!
I ended up doing this, which I don't know which is more efficient
`totalWaveformBars` is how many samples you want.
I first run a chunked.map { average } pass, then take the amount of extra samples that remain, double that to get an index and average these by groups of two from the end of the samples.
I guess the difference is that I arbitrarily decide to average the end samples, while in

[2022-10-10 10:38] #54 closed

[2022-11-04 05:03] Usama99786 opened #55 "App crashed when notifydatasetChanged is called()"
I am building a chat module. So whenever I send an audio in the chat and the recyclerview adapter is refreshed, It crashes on

mBinding?.waveform?.setSampleFrom(file_path)

in the adapter. It also crashes randomly sometimes when there are a lot of audio messages as well. It gives the following exception
W/System.err: linc.com.amplituda.exceptions.processing.PacketSubmittingException: Error submitt

[2022-11-08 18:27] lincollincol commented on #55
@Usama99786 Hello! Could you please provide an audio file or code example?
You can also try to catch errors with `AmplitudaErrorListener` (more [here](https://github.com/lincollincol/Amplituda#-handle-result-and-errors))

[2022-11-09 05:45] Usama99786 commented on #55
@lincollincol Thanks for replying. But as I said that it does not crash on a specific audio file. It crashes when there are a lot of audio files. And I am not using any code related to amplituda. I am just generating a waveform using
mBinding?.waveform?.setSampleFrom(file_path)
Is there a way to use wavformSeekbar with amplituda?

[2022-11-09 12:04] lincollincol commented on #55
@Usama99786
I think in your case you should use Amplituda separately from WaveformSeekBar library. For example:
- Process audio using Amplituda at your data layer
- Show processed data at your UI layer (setSampleFrom(<int array>))

Here is my example code:
**Data layer**
[code]

**Ui layer**
`RecyclerView adapter`
[code]

`Activity/Fragment`
[code]